.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #53B561;
  // background-image: url(./../img/bg-squares.svg);
  position: relative;


  &:after {
    content: '';
    display: block;
    padding-top: 74%;

    @include mobile {
      padding-top: 175%;
    }
  }

  iframe {
    width: 1000px;
    height: 600px;
    top: 0;
    left: 0;
  }
}