.header {
  display: flex;
  padding-top: 63px;
  padding-bottom: 20px;
  z-index: 100;
  position: relative;
  overflow: hidden;

  @include mobile {
    padding-top: 20px;
  }

  &__logo {
    font-family: $font-family2;
    color: $color-purple;
    white-space: nowrap;
    overflow: hidden;
    font-size: 20.8px;
    line-height: 48px;

    &-mob {
      display: none;
    }

    @include mobile {
      &-mob {
        display: block;
        margin: 0 auto;
        font-size: 14.2px;
        line-height: 20px;
      }

      &-desk {
        display: none;
      }
    }
  }
}