.header {
  display: flex;
  padding-top: 50px;
  padding-bottom: 6px;
  z-index: 100;
  position: relative;

  @include mobile {
    padding-top: 50px;
  }
  &__inner {
    display: grid;
    grid-template-columns: 385px 31px 385px;
    grid-column-gap: 40px;
    margin: 0 auto;

    @include tablet {
      grid-template-columns: 300px 31px 300px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__svg {
    align-self: center;

    @include tablet {
      height: 50px;

      svg {
        height: 100%;
        width: auto;
      }
    }

    @include mobile {
      width: 280px;
      height: 51px;

    }
    &--sneaker {
      text-align: right;

      @include tablet {
        height: 35px;
      }

      @include mobile {
        width: 200px;
        height: 27px;
        margin-bottom: 23px;
      }
    }

    &--x {
      @include tablet {
        height: 25px;
      }

      @include mobile {
        width: 28px;
        height: 25px;
        margin-bottom: 23px;
      }
    }
  }

  &__snake {
    position: absolute;
    top: 0;
    left: 80px;

    @include tablet {
      display: none;
    }
  }
}