.hero {
  display: flex;
  min-height: 735px;
  font-weight: 500;
  line-height: 102.3%;
  position: relative;
  overflow-x: hidden;
  padding-top: 25px;
  padding-bottom: 135px;
  margin-bottom: 122px;

  @include tablet {
    padding-bottom: 0;
    margin-bottom: 80px;
    min-height: auto;
  }

  @include mobile {
    padding-top: 40px;
    margin-bottom: 50px;
  }

  &:before {
    position: absolute;
    content: "";
    width: 60px;
    height: 93px;
    background-image: url(./../../img/small-sneakers.png);
    bottom: 75px;
    left: 60px;
    z-index: 11111;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include tablet {
      bottom: 40px;
    }
    @include tablet {
      left: 20px;
    }

    @include mobile {
      width: 40px;
      height: 62px;
      left: 10px;
      bottom: 50px;
    }
  }

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 362px;
    background-image: url(./../../img/bg-squares.svg);
    background-color: #53B561;
    bottom: 0;

    @include tablet {
      height: 637px;
      background-image: url(./../../img/bg-mob.svg);
    }

    @include mobile {
      // top: 120px;
    }
  }

  &__inner {
    display: flex;
    max-width: calc(100% - 120px);
    width: 91%;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 10000;
    position: relative;

    @include laptop  {
      width: 90%;
      margin: 0 auto;
    }

    @include tablet {
      flex-direction: column;
      justify-content: flex-start;
    }

    @include mobile {
      max-width: calc( 100% - 24px);
      width: calc( 100% - 24px);
      margin-left: 12px;
    }
  }

  &__img {
    width: 628px;
    height: 628px;
    position: relative;
    margin: 0;

    @include laptop {
      width: auto;
      height: auto;
      margin-top: 100px;
    }

    @include tablet {
      margin-left: 60px;
      margin-top: 34px;
    }

    @include mobile {
      margin-left: 0;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;

      @include mobile {
        margin-left: 60px;
        width: calc(100% - 60px);

      }
    }
  }

  &__text {
    font-size: 22px;
    line-height: 102.3%;
    position: relative;
    z-index: 111;
    padding-top: 53px;
    padding-left: 114px;
    display: flex;
    flex-direction: column;

    @include laptop {
      padding-left: 40px;
      padding-right: 20px;
    }

    @include tablet {
      padding-top: 0;
    }

    @include mobile {
      padding-right: 0;
    }

    h2 {
      font-family: $font-family2;
      font-size: 36px;
      line-height: 48px;
      font-weight: 400;
      margin-bottom: 15px;

      @include laptop {
        font-size: 30px;
        line-height: 40px;
      }

      @include mobile {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 12px;
        margin-top: 0;
      }
    }

    &-note {
      font-size: 26px;
      line-height: 102.3%;
      margin: 0;

      @include mobile {
        font-size: 22px;
        line-height: 102.3%;
      }
    }

    &-bordered {
      position: absolute;
      background: #FFFFFF;
      border: 8px solid #6A247D;
      box-sizing: border-box;
      box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);
      width: 542px;
      padding: 40px 25px;
      bottom: 0;
      font-size: 22px;
      line-height: 102.3%;
      bottom: -137px;
      left: -450px;

      @include laptop {
        left: -350px;
      }

      @include tablet {
        position: static;
        margin-bottom: 50px;
        width: 100%;
      }

      @include mobile {
        margin-top: 40px;
        font-size: 16px;
        line-height: 102.3%;
        padding: 40px 20px 40px 15px;
        margin-bottom:150px;
      }
    }

    @include mobile {
      // margin: 0 auto;
      // text-align: left;
      // max-width: 100%;
      // padding: 0;
      // font-size: 22px;
      // line-height: 102.3%;
    }
  }

  &__snake {
    position: absolute;
    bottom: 220px;
    left: 58px;
    z-index: 1;

    @include tablet {
      left: 20px;
    }

    @include mobile {
      bottom: unset;
      top: 256px;
      left: 10px;
      svg {
        height: 195px;
        width: 40px;
      }

    }
  }

  // &__logo {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center;
  // }

  // &__svg {
  //   &--mega {
  //     margin-top: 33px;

  //     @include laptop {
  //       svg {
  //         width: 400px;
  //         height: auto;
  //       }
  //     }
  //   }

  //   &--x {
  //     margin-top: 15px;
  //     margin-left: 40px;

  //     @include laptop {
  //       svg {
  //         width: 26px;
  //         height: auto;
  //       }
  //     }
  //   }

  //   &--sneaker {
  //     @include laptop {
  //       svg {
  //         width: 350px;
  //         height: auto;
  //       }
  //     }
  //   }
  // }
}