.hero {
  display: flex;
  flex-direction: column;
  background-image: url("./../img/mega-dots.svg");
  background-repeat: no-repeat;
  background-position: left 129px;
  min-height: 605px;
  font-weight: 500;
  line-height: 102.3%;

  @include laptop {
    background-size: 40%;
  }

  @include mobile {
    background-size: 323px;
    background-position: -120px 75px;
  }

  &__img {
    margin: 0 auto;
    width: 1075px;
    height: 605px;
    position: relative;
    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 300px;
      height: 221px;
      margin-top: 85px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;


    }

    span {
      position: absolute;
      color: $color-black;
      width: 173px;
      right: 23px;
      top: 123px;

      @include mobile {
        position: static;
        font-size: 22px;
        line-height: 102.3%;
        width: 44%;
        display: block;
        margin-top: 10px;
        margin-left: auto;
      }
    }

    &::after {
      position: absolute;
      content: "";
      background: rgba(0, 0, 0, 0.15);
      opacity: 0.2;
      filter: blur(15px);
      width: 70%;
      height: 48px;
      left: 18%;
      bottom: 90px;
    }
  }

  &__text {
    margin: -55px auto 0;;
    text-align: center;
    max-width: 963px;
    padding: 0 30px;

    @include mobile {
      margin: 94px auto 0;
      text-align: left;
      max-width: 100%;
      padding: 0 20px;
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__snake {
    min-height: 252px;
    display: flex;
    justify-content: flex-end;
    padding-top: 121px;
    box-sizing: border-box;
    overflow: hidden;


    @include mobile {
      padding-top: 30px;
      min-height: 155px;
    }

    svg {
      margin-right: -90px;
    }
  }
}