.moto {
  position: relative;
  overflow: hidden;
  &__inner {
    max-width: 1280px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

  }

  &__item {
    background: #FFFFFF;
    border: 8px solid #6A247D;
    box-sizing: border-box;
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);
    padding: 44px 30px;
    font-size: 24px;
    line-height: 102.3%;
    color: rgba(17, 17, 17, 0.75);
    width: 337px;
    margin-right: 180px;
    margin-bottom: 76px;
    margin-left: auto;
  }

  &__snake {
    position: absolute;
    right: -60px;
    top: 100px;

  }

  &__note {
margin-bottom: 105px;
  }
}