.phone {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  &__text {
    margin: 0 auto;
    max-width: 1024px;
    text-align: center;
    padding: 0 30px;
    line-height: 23px;

    @include mobile {
      padding: 0 20px;
    }
  }

  &__img-block {
    margin-top: 22px;
    margin-left: -20px;

    @include laptop {
      margin-left: -94px;
    }

    @include tablet {
      margin-left: 0;
      width: 100%;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    @include mobile {
      display: flex;
      justify-content: center;
      overflow: hidden;
      width: 100vw;
      margin-left: -17px;
      margin-top: -15px;

      img {
        width: 184%;
      }
    }
  }

  &__snake-block {
    position: absolute;
    right: 17%;
    bottom: -50px;
    color: rgba(17, 17, 17, 0.75);

    @include laptop {
      right: 6%;
    }

    @include tablet {
      position: static;
      margin: 0 auto;
      position: relative;

      &:after {
        position: absolute;
        content: "";
        background-image: url("./../img/bg-phone-mob.svg");
        width: 338px;
        height: 559px;
        bottom: -50px;
        right: -100px;
        z-index: -1;
      }

      svg {
        display: none;
      }
    }

    @include mobile {
      bottom: 0;
      right: 0;
      margin-top: -27px;
      &::after {
        width: 238px;
        height: 359px;
        right: -14px;
        bottom: -65px;
      }
    }

    p {
      position: relative;
      background: #FFFFFF;
      border: 8px solid #6A247D;
      box-sizing: border-box;
      box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);
      padding: 42px 30px;
      font-size: 24px;
      line-height: 102.3%;
      margin: 0;
      width: 535px;

      @include mobile {
        width: 100%;
        padding: 22px 12px;
        font-size: 16px;
        line-height: 102.3%;
      }
    }

    svg {
      position: absolute;
      top: -90%;
      right: -4%;
      z-index: -1;

      @include laptop {
        transform: scale(0.8);
      }
    }
  }

  &__block {
    display: flex;
    position: relative;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      justify-content: flex-start;
      padding: 0 30px;
    }

    @include mobile {
      padding: 0 17px;
    }

    &--bottom {
      .img {
        margin-left: auto;
        margin-top: 160px;
        margin-right: 120px;
        position: relative;

        img {
          object-fit: contain;
        }


        &::after {
          position: absolute;
          content: "";
          width: 720px;
          height: 840px;
          background-image: url(./../img/square-bg.svg);
          background-size: cover;
          left: -18px;
          bottom: 293px;
          z-index: -2;

          @include tablet {
            display: none;
          }
        }

        @include tablet {
          margin: 100px auto 0;

          img {
            width: 80%;
            margin-left: 10%;
          }
        }

        @include mobile {
          margin: 40px auto 0;
          display: flex;
          width: 100vw;
          justify-content: center;
          margin-left: -17px;
          overflow: hidden;

          img {
            width: 125%;
            margin-left: 0;
          }
        }
      }

      .phone__snake-block {

        bottom: 215px;
        right: 54%;
        p {
          padding: 42px 54px;
          width: 480px;
        }

        @include laptop {
          right: 60%;

          p {
            width: 400px;
          }
        }

        @include tablet {
          order: -1;
          bottom: 0;
          right: 0;
          margin-top: 76px;

          &:after {
            position: absolute;
            content: "";
            background-image: url("./../img/bg-phone-mob2.svg");
            width: 238px;
            height: 476px;
            top: -37px;
            z-index: -1;
            left: -40px;
          }
        }

        @include tablet {
          p {
            width: 294px;
            padding: 22px 12px;
          }

        }
      }
    }


  }

  &__text-block {
    transform: translate(-125px, 0);
    margin-right: 30px;
    margin-top: 163px;

    @include laptop {
      margin-right: 0;
    }

    @include tablet {
      transform: translate(0, 0);
      order: -1;
      margin-top: 60px;
    }

    @include mobile {
      margin-top: 65px;
    }

    &--bottom {
      transform: translate(0, 0);
      margin-left: 120px;
      margin-top: 100px;
      @include laptop {
        transform: translate(-25px, 0);
      }

      @include tablet {
        transform: translate(0, 0);
        margin-left: 0;

        p {
          br {
            display: none;
          }
        }
      }

      @include mobile {
        margin-top: 60px;
      }

    }
    h3 {
      font-weight: normal;
      font-size: 24px;
      line-height: 102.3%;
      margin: 0 0 22px;
      font-family: $font-family2;

      @include mobile {
        font-size: 22px;
        line-height: 102.3%;
      }
    }

    p {
      font-size: 24px;
      line-height: 102.3%;
      margin: 0;

      @include mobile {
        font-size: 22px;
        line-height: 23px;
      }
    }
  }

  &__mob-snake {
    display: none;

    @include tablet {
      display: block;

      &--tail {
        margin-left: auto;
        margin-top: 58px;
      }

      &--head {
        margin-top: 119px;
      }
    }

    // @include mobile
  }
}