.request {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 325px;

  @include mobile {
    padding-bottom: 410px;
  }

  &__form {
    background: #FFFFFF;
    border: 8px solid #6A247D;
    box-sizing: border-box;
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);
    padding: 40px;
    width: 1058px;
    margin: 0 auto;
    z-index: 100;

    @include tablet {
      width: 92%;
    }

    @include mobile {
      font-size: 32px;
      line-height: 102.3%;
      padding: 40px 6px;
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        font-size: 20px;
        line-height: 102.3%;
        color: rgba($color-black, 0.3);
        margin-top: 32px;

        @include mobile {
          font-size: 16px;
          line-height: 102.3%;
          margin-top: 30px;
        }
      }

      input {
        height: 50px;
        border: none;
        border-bottom: 1px solid rgba(#000000, 0.3);
        outline: none;

        @include mobile {
          height: 23px;
          font-size: 16px;
        }
      }
    }
  }

  &__title {
    color: $color-purple;
    font-size: 36px;
    margin: 0;
    font-weight: 500;

    @include mobile {
      font-size: 32px;
      line-height: 102.3%;
    }
  }

  &__snake {
    background-image: url(./../img/bg-squares.svg);
    height: 811px;
    width: 100%;
    background-position: top;
    position: absolute;
    background-color: #53B561;
    margin-top: 396px;

    &::after {
      position: absolute;
      content: "";
      background-position: center;
      background-image: url(./../img/small-sneakers.png);
      right: 58px;
      bottom: 284px;
      width: 60px;
      height: 93px;
      background-size: cover;

      @include laptop {
        bottom: 184px;
      }

      @include mobile {
        bottom: 255px;
        right: 38px;
      }
    }
    svg {
      position: absolute;
      left: 0;
      bottom: 151px;
    }

    @include mobile {
      height: 780px;
      margin-top: 366px;

      svg {
        left: -73px;
        bottom: 242px;
        overflow: hidden;
      }
    }
  }

  &__checkbox {
    display: flex;

    &:not(:first-of-type)  label {
      margin-top: 0;
    }

    label {
      padding-left: 54px;
      position: relative;
      margin-bottom: 24px;

      &::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        border: 1px solid $color-purple;
        left: 0;
        top: 0;
        transition: background-color 0.2s;

        @include mobile {
          width: 16px;
          height: 16px;
        }
      }

      @include mobile {
        font-size: 14px !important;
        line-height: 102.3%;
        padding-left: 26px;
        margin-bottom: 12px;
      }
    }
    input {
      display: none;

      &:checked ~ label:after {
        background-color: $color-purple;
      }
    }
  }

  &__button {
    border: none;
    outline: none;
    width: 100%;
    height: 48px;
    text-align: center;
    color: $color-white;
    background-color: $color-purple;

    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;


    @include mobile {
    margin: 40px auto 0;
    width: 85%;
    padding-top: 3px;
      svg {
        width: 192px;
        height: 12px;
      }
    }
  }
}