include pug/mixins

block variables

doctype html
html( lang="ru" )
  head
    meta( charset="UTF-8" )
    title Megafon x Sneakerhead
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    link( rel="preload" href="fonts/MenoeGrotesque.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="stylesheet" href="css/style.min.css" )
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/site.webmanifest')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='theme-color' content='#ffffff')

  body
    header.header
      .header__logo.header__logo-desk SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X
      .header__logo.header__logo-mob SNEAKERHEAD X MEGAFON

    main
      section.activate
        .activate__inner
          .activate__title — Привет, поздравляем, ты выиграл эксклюзивный пак Sneakerhead х MegaFon!
          .activate__note Мы сделали для тебя этот сникерфон, потому что ты хочешь первым получать сообщения об эксклюзивных дропах и акциях от&nbsp;Sneakerhead. Но для начала тебе нужно активировать сим&#8209;карту в своём телефоне, а потом вставить её в свой новый сникерфон.
          .activate__title Инструкция по&nbsp;активации
          ol.activate__list
            li.activate__item Вставь новую сим-карту в основной слот своего смартфона.
            li.activate__item Скачай приложение «МегаФон» (6+) из любого магазина приложений.
            li.activate__item Запусти приложение и активируй свой текущий номер.
            li.activate__item Выбери тариф. Самый выгодный для тебя #Без переплат. Всё&nbsp;(в&nbsp;Москве) или #Без переплат. Интернет  (в&nbsp;Санкт&#8209;Петербурге) с <a href="https://moscow.megafon.ru/tariffs/all/bez_pereplat_vsyo.html" class="megalink megalink--green">безлимитным<a> интернетом.
            li.activate__item Введи личные данные и подпиши электронный договор.
            li.activate__item Перезагрузи телефон. Через несколько минут тебе придут SMS и e-mail c копией договора.
            li.activate__item Готово, всё получилось! Теперь вставь активированную sim-карту в свой сникерфон.
            li.activate__item В Меню сникерфона ты найдешь WhatsApp, там тебя уже ждёт первое сообщение от Sneakerhead. Теперь с <a href="https://moscow.megafon.ru/tariffs/all/bez_pereplat_vsyo.html" class="megalink megalink--green">безлимитом</a> от МегаФона ты будешь первым/ой получать сообщения о наших эксклюзивных дропах и акциях.

      section.moto
        .moto__inner
          .moto__item
            | Баланс сим карты — 100 рублей, а свой новый номер можно узнать по команде <span>*205#.</span> <br>Запрос бесплатный.
          .moto__note Спасибо, что&nbsp;ты&nbsp;с&nbsp;нами
        .moto__snake
          +svg("snake", "289", "60")

    footer.footer
      .footer__logo.footer__logo-desk SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X
      .footer__logo.footer__logo-mob SNEAKERHEAD X MEGAFON


    block scripts
      script( src="js/script.min.js" )
