include pug/mixins

block variables

doctype html
html( lang="ru" )
  head
    meta( charset="UTF-8" )
    title Megafon x Sneakerhead
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    link( rel="preload" href="fonts/MenoeGrotesque.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="stylesheet" href="css/style.min.css" )
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/site.webmanifest')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='theme-color' content='#ffffff')

  body
    header.header
      .header__inner
        .header__svg.header__svg--sneaker
          +svg("sneaker", "321", "43")
        .header__svg.header__svg--x
          +svg("cross", "29", "31")
        .header__svg
          +svg("megafon", "385", "70")

    main
      section.hero
        .hero__img
          picture
            source( media="(min-width: 767px)" srcset="img/hero@1x.png 1x, img/hero@2x.png 2x" )
            img(src="img/hero-mob@1x.png", srcset="img/hero-mob@2x.png 2x" alt="")
          span 28 апреля 2021
        .hero__text
         | Жди когда таймер закончиться, и тогда ты сможешь принять участие в розыгрыше эксклюзивного пака сделанного совместно с Мегафоном. Мы уверенны что ты сможешь заполучить его, потому что ты вместе с Мегафоном обладаешь самым быстрым интернетом в России.
        .hero__snake
          +svg("full-snake", "341", "60")
      section.timeout
        h2.timeout__title
        .timeout__timer(data-time="April 28, 2021 12:00:00" data-time-close="April 26, 2021 23:59:59")
          .timeout__block
           .timeout__number(id="hours") 03
           .timeout__span Часов
          span.timeout__dots :
          .timeout__block
           .timeout__number(id="min") 38
           .timeout__span Минут
          span.timeout__dots :
          .timeout__block
           .timeout__number(id="sec") 47
           .timeout__span Секунд
      section.request.request--no-form
        p.request__intro Оставь заявку на&nbsp;розыгрыш эксклюзивного пака. <br>Внимание! Участие могут принимать только жители Москвы и&nbsp;Санкт-Петербурга.
        .request__form
          .request__success
            .request__success-inner
              .request__success-thanks
              .request__success-text Ваша заявка принята
          //- h3.request__title Оставь заявку
          form(action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScbYmxVTHet_Xoa97MXmndqhn1a-z7ziZYKAb9xvPwn8d49Mw/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;")
            label(for="surname") Фамилия
            input(type="text" id="surname" name="entry.816898874" required)
            label(for="name") Имя
            input(type="text" id="name" name="entry.1525609461" required)
            label(for="date") Дата рождения
            input(type="date" id="date" name="entry.884712139" required placeholder="дд.мм.гггг")
            label(for="link") Ссылка на социальную сеть
            input(type="text" id="link" name="entry.466567166" required)
            label(for="phone") Телефон
            input(type="tel" id="phone" name="entry.2015515466" required)
            label(for="email") Email
            input(type="email" id="email" name="entry.17703706" required)
            label(for="size") Размер
            select(id="size" name="entry.1235063670")
              option 3.5
              option 4
              option 4.5
              option 5
              option 5.5
              option 6
              option 6.5
              option 7
              option 7.5
              option 8
              option 8.5
              option 9
              option 9.5
              option 10
              option 10.5
              option 11
              option 11.5
              option 12
            .request__checkbox
              input(type="checkbox" id="agreement" name="entry.1096653634" required)
              label(for="agreement") Оставляя заявку, я подписываю <a href="https://sneakerhead.ru/privacy/">пользовательское соглашение и принимаю условия конфеденциальности</a>
            .request__checkbox
              input(type="checkbox" id="order" name="entry.1608148304" required)
              label(for="order") Оставляя заявку, я соглашаюсь с <a href="/terms">условиями розыгрыша</a>
            button.request__button( type="submit" )

      section.game
        .game__intro Не уходи далеко ожидая новый дроп. Прямо сейчас ты можешь поиграть в&nbsp;змейку и выиграть призы.
        iframe(src="https://dev-megafon-snake.mdv.pw" style="width: 92%; height: 100%" frameborder="0")
      section.phone
        .phone__snake.phone__snake--left.phone__snake--desktop
          +svg("snake-phone-left", "395", "220")
        .phone__snake.phone__snake--left.phone__snake--mob
          +svg("snake-left-mob", "134", "46")
        .phone__snake.phone__snake--right.phone__snake--desktop
          +svg("snake-phone-right", "342", "544")
        .phone__snake.phone__snake--right.phone__snake--mob
          +svg("snake-right-mob", "94", "46")
        p.phone__text Это наш Сникерфон — на него ты будешь получать эксклюзивные уведомления про наши дропы, акции и&nbsp;скидки.
        picture
          source( media="(min-width: 768px)" srcset="img/phone@1x.png 1x, img/phone@2x.png 2x" )
          img(src="img/phone-mob@1x.png" srcset="img/phone-mob@2x.png 2x", alt="")
        p.phone__text.phone__text--note Когда получишь телефон, обязательно пройди процедуру активации симкарты <br><br>Мы будем писать тебе в WhatsApp. И ты сможешь быть первым, потому что ты с Мегафоном будешь обладать самым быстрым интернетом и самой актуальной информацией.


      section.videos
        p.videos__intro Тебе наверняка не терпится узнать что нибудь о&nbsp;нашей коллаборации?
        p.videos__intro.videos__intro-note Ты уже знаешь про самый быстрый интернет от Мегафона, а что знаешь про самые быструю доставку? Мы рассказываем включайся:
        ul.videos__list
          //- li.videos__item( style="background-image: url(./img/video2.jpg)")
          //-   a(href="")
          //- li.videos__item( style="background-image: url(./img/video1.jpg)")
          //-   a(href="")
          //- li.videos__item( style="background-image: url(./img/video3.jpg)")
          //-   a(href="")
          li.videos__item.videos__item--soon
            .videos__note SOON
    footer.footer

    block scripts
      script( src="js/script.min.js" )
      script(type='text/javascript').
        var submitted=false;
      iframe#hidden_iframe(name='hidden_iframe' style='display:none;' onload="if(submitted)  {submittedForm()}")
