include pug/mixins

block variables

doctype html
html( lang="ru" )
  head
    meta( charset="UTF-8" )
    title Megafon x Sneakerhead
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    link( rel="preload" href="fonts/PressStart2P.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/RobotoMono.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="stylesheet" href="css/style.min.css" )
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/site.webmanifest')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='theme-color' content='#ffffff')

  body
    header.header
      .header__logo.header__logo-desk SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X
      .header__logo.header__logo-mob SNEAKERHEAD X MEGAFON

    main
      section.hero
        .hero__snake
          +svg("snake-header", "66", "376")
        .hero__inner
          .hero__text

            h2 ДРОП<br>С БЕЗЛИМИТОМ,
            p.hero__text-note Потому что ты первый в тренде


          .hero__img
            img(src="img/hero@1x.jpg 1x", srcset="img/hero@2x.jpg 2x" alt="")
            p.hero__text-bordered Жди окончания таймера и скорее заполняй заявку, чтобы поучаствовать в розыгрыше эксклюзивного пака by Sneakerhead х MegaFon. <br><br>Дропы с безлимитом пройдут с 30.04 по 03.05 только на этом лендинге. Следи за таймером, ведь на сбор заявок отведено очень мало времени.<br><br>Удачи!
      section.timeout
        h2.timeout__title
        .timeout__timer(data-time="April 28, 2021 12:00:00" data-time-close="April 30, 2021 23:59:59")
          .timeout__block
           .timeout__number(id="hours") 03
           .timeout__span Часов
          span.timeout__dots :
          .timeout__block
           .timeout__number(id="min") 38
           .timeout__span Минут
          span.timeout__dots :
          .timeout__block
           .timeout__number(id="sec") 47
           .timeout__span Секунд
      section.request.request--no-form
        p.request__intro Оставь заявку на&nbsp;розыгрыш эксклюзивного пака. <br>Внимание! Участие могут принимать только жители Москвы и&nbsp;Санкт-Петербурга.
        .request__form
          .request__success
            .request__success-inner
              .request__success-thanks
              .request__success-text Ваша заявка принята
          //- h3.request__title Оставь заявку
          form(action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScbYmxVTHet_Xoa97MXmndqhn1a-z7ziZYKAb9xvPwn8d49Mw/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;")
            label(for="surname") Фамилия
            input(type="text" id="surname" name="entry.816898874" required)
            label(for="name") Имя
            input(type="text" id="name" name="entry.1525609461" required)
            label(for="date") Дата рождения
            input(type="date" id="date" name="entry.884712139" required placeholder="дд.мм.гггг")
            label(for="link") Ссылка на социальную сеть
            input(type="text" id="link" name="entry.466567166" required)
            label(for="phone") Телефон
            input(type="tel" id="phone" name="entry.2015515466" required)
            label(for="email") Email
            input(type="email" id="email" name="entry.17703706" required)
            label(for="size") Размер
            select(id="size" name="entry.1235063670")
              option 3.5
              option 4
              option 4.5
              option 5
              option 5.5
              option 6
              option 6.5
              option 7
              option 7.5
              option 8
              option 8.5
              option 9
              option 9.5
              option 10
              option 10.5
              option 11
              option 11.5
              option 12
            .request__checkbox
              input(type="checkbox" id="agreement" name="entry.1096653634" required)
              label(for="agreement") Оставляя заявку, я подписываю <a href="https://sneakerhead.ru/privacy/">пользовательское соглашение и принимаю условия конфеденциальности</a>
            .request__checkbox
              input(type="checkbox" id="order" name="entry.1608148304" required)
              label(for="order") Оставляя заявку, я соглашаюсь с <a href="/terms">условиями розыгрыша</a>
            button.request__button( type="submit" )

      section.game
        .game__intro  Не уходи далеко, ожидая новый дроп.<br> Играй прямо сейчас в змейку и выигрывай:<br> 10% скидку на все от SNKRHD <br>или безлимитный интернет на месяц от МегаФона.
        .game__snake
          +svg("snake-game", "496", "123")
          img(src="./../../img/sneakers-hor.png", alt="", width="178px" height="34px")

        iframe(src="https://dev-megafon-snake.mdv.pw" style="width: 92%; height: 100%" frameborder="0")
      section.phone
        p.phone__text Это наш совместный пак, он создан с учётом запросов настоящего сникерхеда. В него вошли уникальные кроссовки, сникерфон и безлимитный интернет от МегаФона, для того что бы ты всегда был на связи.
        .phone__block
          .phone__img-block
            img(src="img/phone@1x.png" srcset="img/phone@2x.png 2x", alt="")
          .phone__text-block
            h3 Это Сникерфон.
            p На него ты будешь первым получать уведомления про наши эксклюзивные дропы, акции и скидки
          .phone__snake-block
            p Мы будем всегда на связи с тобой в What’s App с безлимитом от МегаФона. <br><br>Но для начала пройди активацию sim-карты. Инструкция внутри пака.
              +svg("long-snake","724", "794")

        .phone__block.phone__block--bottom
          .phone__text-block.phone__text-block--bottom
            h3 Это кроссовки
            p Мы вручную произвели <br>100 кастомизированных <br>пар для настоящих <br>сникерхедов!
          .img
            img(src="img/sneakers@1x.png" srcset="img/sneakers@2x.png 2x", alt="")
          .phone__snake-block
            p Тебе очень повезёт обладать такой парой, так как эти кроссовки не выйдут в продажу. <br><br>Будь безлимитно стильным вместе с МегаФоном!
      section.videos
        p.videos__intro Тебе наверняка не терпится узнать о нашей коллаборации!
        p.videos__intro.videos__intro-note Ты уже знаешь о безлимитном интернете от МегаФона, а что знаешь о самой быстрой доставке? Мы рассказываем, включайся:
        ul.videos__list
          li.videos__item.videos__item--soon
            .videos__note SOON
    footer.footer
      .footer__logo.footer__logo-desk SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X
      .footer__logo.footer__logo-mob SNEAKERHEAD X MEGAFON

    block scripts
      script( src="js/script.min.js" )
      script(type='text/javascript').
        var submitted=false;
      iframe#hidden_iframe(name='hidden_iframe' style='display:none;' onload="if(submitted)  {submittedForm()}")
