include pug/mixins

block variables

doctype html
html( lang="ru" )
  head
    meta( charset="UTF-8" )
    title Megafon x Sneakerhead
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    link( rel="preload" href="fonts/MenoeGrotesque.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="stylesheet" href="css/style.min.css" )
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/site.webmanifest')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='theme-color' content='#ffffff')

  body
    header.header
      .header__logo.header__logo-desk SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X
      .header__logo.header__logo-mob SNEAKERHEAD X MEGAFON

    main
      section.activate
        .activate__inner.activate__inner--ul
          .activate__title.activate__title--small Условия участия в розыгрыше «сникерфона» и&nbsp;условия его использования.
          ul.activate__list.activate__list--ul
            li.activate__item — Участвовать могут только жители Москвы и&nbsp;Санкт&#8209;Петербурга.
            li.activate__item - С победителями розыгрыша мы свяжемся по указанной в заявке почте и доставим наш пак в пределах Санкт-Петербурга и Москвы.
            li.activate__item — Соглашаясь с условиями розыгрыша, вы принимаете их, в случае нарушения условий мы в праве отказать вам в привилегиях данного «сникерфона».
            li.activate__item — Принимая участие в розыгрыше, вы соглашаетесь получать информацию о новинках и акциях магазина.
            li.activate__item — Данный «сникерфон» не может передаваться другому лицу. Владельцем данного «сникерфона» будет являться победитель розыгрыша.
            li.activate__item — Только владелец «сникерфона» может участвовать в программе привилегий для владельцев"«сникерфона»".
            li.activate__item — Владелец может использовать привилегии «сникерфона» только после привязки личности к симкарте. (Инструкция <a href="/activate">megafon.sneakerhead/activate</a> )

          .activate__title.activate__title--small Программа привилегий «сникерфона»:
          ul.activate__list.activate__list--ul
            li.activate__item — Персональная скидка 10% для владельца «сникерфона». Не распространяется на релизы.
            li.activate__item — Персональная скидка 15% в честь дня рождения владельца «сникерфона».
            li.activate__item — Участие в закрытых розыгрышах и закрытых мероприятиях магазина.
            li.activate__item - Участие в закрытых розыгрышах, акциях и мероприятиях магазина Sneakerhead.


    footer.footer
      .footer__logo.footer__logo-desk SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X SNEAKERHEAD X MEGAFON X
      .footer__logo.footer__logo-mob SNEAKERHEAD X MEGAFON


    block scripts
      script( src="js/script.min.js" )
