$width-desktop: 1440px;
$width-laptop: 1128px;
$width-tablet: 768px;
$width-mobile: 416px;
$width-min: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-family: "Menoe Grotesque Pro", "Arial", sans-serif;
$font-base: 32px;

$color-white: #ffffff;
$color-black: #000000;
$color-light-green: #00B956;
$color-green: #118744;;
$color-purple: #731982;
